<h2 id="categories"><a href="#example" class="toggle">Categories</a></h2>
	<span class="small_desc">Click here to see all categories</span>
	<div class="clearfix"></div>
		<div class="toggle-content" id="example">
			{% assign pages_list = site.pages %}
			{% for node in pages_list %}
				{% if node.title != null %}
					{% if node.layout == "category" %}
						<h3 class="category_name_link"><a href="{{ site.url }}{{ node.url }}">{{ node.title }}</a></h3>
						{% assign category = page.category | default: node.title %}
						  {% for post in site.categories[category] %}
							<ul>
							<li>
								<a href="{{ site.url }}{{ post.url }}">
								  {{ post.title }}
								</a>
								<span>{{ post.date | date_to_string }}</span>
							</li>
							</ul>
						  {% endfor %}
				{% endif %}
				{% endif %}
		{% endfor %}
	</div>
<hr>