<div class="sidebar">
	<!-- left Side bar -->
	<div class="sidebar-sticky">
		<nav class="sidebar-nav">
			<a class="sidebar-nav-item active" href="{{ site.baseurl }}">Home</a>
			<a class="sidebar-nav-item" href="{{ site.baseurl }}about">About me</a>
			<a class="sidebar-nav-item" href="./work.html">Work</a>
			<a class="sidebar-nav-item" href="{{ site.baseurl }}blog">Blog</a>
			<a class="sidebar-nav-item" href="./contacts.html">Contacts</a>
		</nav>
	</div>

	<div class="socials">
		<ul class="socials_links">
		<li>
			<a href="https://github.com/bearshub" target="_blank">
				<i class="icon-github"></i>
			</a>
		</li>
		<!--
		<li>
			<a href="https://www.facebook.com/profile.php?id=100001788716921" target="_blank">
				<i class="fab fa-facebook-square"></i>
			</a>
		</li>
		<li>
			<a href="https://vk.com/id151991161" target="_blank">
				<i class="fab fa-vk"></i>
			</a>
		</li>
		<li>
			<a href="https://www.instagram.com/veax/" target="_blank">
				<i class="fab fa-instagram"></i>
			</a>
		</li>
		-->
		</ul>
	</div>
</div>
